# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Uploads
server/uploads/
server/uploads/*

# Logs
*.log

# Environment files
.env
secrets.py

# CircuitPython
.Trashes
.metadata_never_index
.fseventsd/
boot_out.txt