# This file is a template for your secrets.
# Copy this file to 'secrets.py' and fill in your values.

secrets = {
    'ssid': 'your_wifi_ssid',
    'password': 'your_wifi_password',
    'server_url': 'http://your.server:5000/frame.json',
    'timezone': "America/New_York",  # http://worldtimeapi.org/timezones
}